In [148]:
import pandas as pd
from sqlalchemy import create_engine

In [149]:
csv_file = "./resources/National_Vital_Statistics_System__NVSS__Mortality_data.csv"
mortality_data_df = pd.read_csv(csv_file)
mortality_data_df.head()

,Year,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,Topic,...,Confidence_limit_Low,Confidence_limit_High,CategoryId,TopicId,IndicatorID,BreakOutCategoryId,BreakOutId,LocationID,X_lon,Y_lat
0,2012,AK,Alaska,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,206.8,207.0,C1,T1,NV001,BOC01,OVR01,2,64.84508,-147.722059
1,2013,AK,Alaska,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,208.3,208.5,C1,T1,NV001,BOC01,OVR01,2,64.84508,-147.722059
2,2010,AK,Alaska,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,223.7,223.9,C1,T1,NV001,BOC01,OVR01,2,64.84508,-147.722059
3,2011,AK,Alaska,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,224.5,224.7,C1,T1,NV001,BOC01,OVR01,2,64.84508,-147.722059
4,2008,AK,Alaska,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,233.1,233.3,C1,T1,NV001,BOC01,OVR01,2,64.84508,-147.722059

In [150]:
mortality_data_df.dropna(axis = 0, how = 'any', thresh = None, subset = None, inplace = False)
mortality_data_df.head()

,Year,LocationAbbr,LocationDesc,DataSource,PriorityArea1,PriorityArea2,PriorityArea3,PriorityArea4,Category,Topic,...,Confidence_limit_Low,Confidence_limit_High,CategoryId,TopicId,IndicatorID,BreakOutCategoryId,BreakOutId,LocationID,X_lon,Y_lat
0,2012,AK,Alaska,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,206.8,207.0,C1,T1,NV001,BOC01,OVR01,2,64.84508,-147.722059
1,2013,AK,Alaska,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,208.3,208.5,C1,T1,NV001,BOC01,OVR01,2,64.84508,-147.722059
2,2010,AK,Alaska,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,223.7,223.9,C1,T1,NV001,BOC01,OVR01,2,64.84508,-147.722059
3,2011,AK,Alaska,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,224.5,224.7,C1,T1,NV001,BOC01,OVR01,2,64.84508,-147.722059
4,2008,AK,Alaska,NVSS,None,None,None,None,Cardiovascular Diseases,Major Cardiovascular Disease,...,233.1,233.3,C1,T1,NV001,BOC01,OVR01,2,64.84508,-147.722059

In [151]:
new_data_df = mortality_data_df[["LocationID", "Year", "LocationDesc", "LocationAbbr","Topic", "Indicator", "Break_Out_Category", "Break_Out", "Data_Value", "Confidence_limit_Low", "Confidence_limit_High", "TopicId", "IndicatorID", "BreakOutCategoryId", "BreakOutId", "X_lon", "Y_lat"]].copy()
new_data_df.head()

,LocationID,Year,LocationDesc,LocationAbbr,Topic,Indicator,Break_Out_Category,Break_Out,Data_Value,Confidence_limit_Low,Confidence_limit_High,TopicId,IndicatorID,BreakOutCategoryId,BreakOutId,X_lon,Y_lat
0,2,2012,Alaska,AK,Major Cardiovascular Disease,Rate of major cardiovascular disease mortality...,Overall,Overall,206.9,206.8,207.0,T1,NV001,BOC01,OVR01,64.84508,-147.722059
1,2,2013,Alaska,AK,Major Cardiovascular Disease,Rate of major cardiovascular disease mortality...,Overall,Overall,208.4,208.3,208.5,T1,NV001,BOC01,OVR01,64.84508,-147.722059
2,2,2010,Alaska,AK,Major Cardiovascular Disease,Rate of major cardiovascular disease mortality...,Overall,Overall,223.8,223.7,223.9,T1,NV001,BOC01,OVR01,64.84508,-147.722059
3,2,2011,Alaska,AK,Major Cardiovascular Disease,Rate of major cardiovascular disease mortality...,Overall,Overall,224.6,224.5,224.7,T1,NV001,BOC01,OVR01,64.84508,-147.722059
4,2,2008,Alaska,AK,Major Cardiovascular Disease,Rate of major cardiovascular disease mortality...,Overall,Overall,233.2,233.1,233.3,T1,NV001,BOC01,OVR01,64.84508,-147.722059

In [152]:
clean_data_df = new_data_df.rename(columns={'LocationID': 'location_id', 'LocationDesc': 'location_desc', 'LocationAbbr': 'location_abbr', 'X_lon': 'y_lat', 'Y_lat': 'x_lon', 'TopicId': 'topic_id', 'IndicatorID': 'indicator_id', 'BreakOutCategoryId': 'break_out_category_id', 'BreakOutId': 'break_out_id', 'Year': 'yr', 'Indicator': 'indicators', 'Topic': 'topic', 'Break_Out_Category': 'break_out_category', 'Break_Out': 'break_out', 'Data_Value': 'data_value', 'Confidence_limit_Low': 'confidence_limit_low', 'Confidence_limit_High': 'confidence_limit_high'})
clean_data_df.head()

,location_id,yr,location_desc,location_abbr,topic,indicators,break_out_category,break_out,data_value,confidence_limit_low,confidence_limit_high,topic_id,indicator_id,break_out_category_id,break_out_id,y_lat,x_lon
0,2,2012,Alaska,AK,Major Cardiovascular Disease,Rate of major cardiovascular disease mortality...,Overall,Overall,206.9,206.8,207.0,T1,NV001,BOC01,OVR01,64.84508,-147.722059
1,2,2013,Alaska,AK,Major Cardiovascular Disease,Rate of major cardiovascular disease mortality...,Overall,Overall,208.4,208.3,208.5,T1,NV001,BOC01,OVR01,64.84508,-147.722059
2,2,2010,Alaska,AK,Major Cardiovascular Disease,Rate of major cardiovascular disease mortality...,Overall,Overall,223.8,223.7,223.9,T1,NV001,BOC01,OVR01,64.84508,-147.722059
3,2,2011,Alaska,AK,Major Cardiovascular Disease,Rate of major cardiovascular disease mortality...,Overall,Overall,224.6,224.5,224.7,T1,NV001,BOC01,OVR01,64.84508,-147.722059
4,2,2008,Alaska,AK,Major Cardiovascular Disease,Rate of major cardiovascular disease mortality...,Overall,Overall,233.2,233.1,233.3,T1,NV001,BOC01,OVR01,64.84508,-147.722059

In [162]:
new_data_df = clean_data_df[clean_data_df.location_abbr != 'US']

In [163]:
new_data_df

,location_id,yr,location_desc,location_abbr,topic,indicators,break_out_category,break_out,data_value,confidence_limit_low,confidence_limit_high,topic_id,indicator_id,break_out_category_id,break_out_id,y_lat,x_lon
0,2,2012,Alaska,AK,Major Cardiovascular Disease,Rate of major cardiovascular disease mortality...,Overall,Overall,206.9,206.8,207.0,T1,NV001,BOC01,OVR01,64.845080,-147.722059
1,2,2013,Alaska,AK,Major Cardiovascular Disease,Rate of major cardiovascular disease mortality...,Overall,Overall,208.4,208.3,208.5,T1,NV001,BOC01,OVR01,64.845080,-147.722059
2,2,2010,Alaska,AK,Major Cardiovascular Disease,Rate of major cardiovascular disease mortality...,Overall,Overall,223.8,223.7,223.9,T1,NV001,BOC01,OVR01,64.845080,-147.722059
3,2,2011,Alaska,AK,Major Cardiovascular Disease,Rate of major cardiovascular disease mortality...,Overall,Overall,224.6,224.5,224.7,T1,NV001,BOC01,OVR01,64.845080,-147.722059
4,2,2008,Alaska,AK,Major Cardiovascular Disease,Rate of major cardiovascular disease mortality...,Overall,Overall,233.2,233.1,233.3,T1,NV001,BOC01,OVR01,64.845080,-147.722059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87875,56,2008,Wyoming,WY,Stroke,Heart Disease and Stroke Objective 3: Rate of ...,Race,Non-Hispanic White,55.3,55.2,55.4,T6,NVP303,BOC04,RAC01,43.235541,-108.109830
87876,56,2006,Wyoming,WY,Stroke,Heart Disease and Stroke Objective 3: Rate of ...,Race,Non-Hispanic White,59.9,59.8,60.0,T6,NVP303,BOC04,RAC01,43.235541,-108.109830
87877,56,2003,Wyoming,WY,Stroke,Heart Disease and Stroke Objective 3: Rate of ...,Race,Non-Hispanic White,68.0,67.9,68.1,T6,NVP303,BOC04,RAC01,43.235541,-108.109830
87878,56,2002,Wyoming,WY,Stroke,Heart Disease and Stroke Objective 3: Rate of ...,Race,Non-Hispanic White,70.8,70.7,70.9,T6,NVP303,BOC04,RAC01,43.235541,-108.109830
87879,56,2001,Wyoming,WY,Stroke,Heart Disease and Stroke Objective 3: Rate of ...,Race,Non-Hispanic White,75.0,74.9,75.1,T6,NVP303,BOC04,RAC01,43.235541,-108.109830

In [164]:
csv_file2 = "./resources/heart.csv"
heart_df = pd.read_csv(csv_file2)
heart_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [165]:
rds_connection_string = "postgres:Postgres@localhost:5432/heart_disease_data"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [166]:
engine.table_names()

['mortality_data', 'heart_data']

In [167]:
new_data_df.to_sql(name='mortality_data', con=engine, if_exists='append', index=False)

In [168]:
heart_df.to_sql(name='heart_data', con=engine, if_exists='append', index=False)